<h2 id="dataTitle">Add</h2>

<div class="container">
	<div class="field">
		<div class="inputLabel">
			<p>item1</p>
		</div>
		<div class="inputText">
			<input type="text" name="item1" value="data1">
		</div>
	</div>

	<div class="field">
		<div class="inputLabel">
			<p>item2</p>
		</div>
		<div class="inputText">
			<input type="text" name="item2" value="data2">
		</div>
	</div>

	<div class="field">
		<div class="inputLabel">
			<p>item3</p>
		</div>
		<div class="inputText">
			<input type="text" name="item3" value=12345>
		</div>
	</div>
</div>
