<!-- ======= output ======= -->
<div id="output">

	<!-- ======= recipe title ======= -->
	<div class="recipeBox1">
		<h2 id="outputTitle"><%= @recipe[:title] %></h2>
	</div>


	<!-- ======= spacer ======= -->
	<div id="recipeBox2">
		<div class="halfBox">
		</div>
		<div class="halfBox">
		</div>
	</div>

	<!-- ======= instructions ======= -->
	<div id="welcomeText" class="middleBox">
		<p><span><%= @recipe[:title] %></span> has been deleted.</p>
	</div>

</div>
