<%# ======= recipe header ======= %>
<div id="recipeBox1" class="fullBox">
	<div class="halfBox">
		<h2 id="outputTitle">Import Recipe File</h2>
	</div>
</div>

<input type="file" name="inputfile" id="inputfile">

<br>

<pre id="output"></pre>
