<!-- ======= output ======= -->
<div id="output">

	<!-- ======= recipe title ======= -->
	<div class="recipeBox1">
		<h2 id="outputTitle">Import Recipe File</h2>
	</div>


	<!-- ======= spacer ======= -->
	<!-- <div id="recipeBox3">
		<div class="halfBox">
			<input type="file" name="inputfile" id="inputfile">
		</div>
		<div class="halfBox"></div>
	</div>
	<div id="recipeBox3">
		<div class="halfBox">
			<input type="button" name="cancelImport" id="cancelImport" value="Cancel">
		</div>
		<div class="halfBox"></div>
	</div> -->

	<div class="userInput">

		<div class="field">
			<div class="inputText">
				<input type="file" name="inputfile" id="inputfile">
			</div>
			<div class="inputLabel">&nbsp;</div>
		</div>

		<div class="field">
			<div class="inputText">
				<input type="button" name="cancelImport" id="cancelImport" value="Cancel">
			</div>
			<div class="inputLabel">&nbsp;</div>
		</div>
	</div>
</div>
