<%# ======= output ======= %>
<div id="output">

	<%# ======= recipe header ======= %>
	<div id="recipeBox1" class="fullBox">
		<div class="halfBox">
			<h2 id="outputTitle">Home</h2>
		</div>
	</div>
</div>
