<!-- ======= output ======= -->
<div id="output">

	<!-- ======= recipe title ======= -->
	<div class="recipeBox1">
		<h2 id="outputTitle">Home</h2>
	</div>


	<!-- ======= spacer ======= -->
	<div id="recipeBox2">
		<div class="halfBox">
		</div>
		<div class="halfBox">
		</div>
	</div>

	<!-- ======= instructions ======= -->
	<div id="welcomeText" class="middleBox">
		<p>Welcome to <span>My Recipes!</span></p>
		<p>To add a new recipe to the database, save your recipe as a text file using this format:</p>
		<p class="infoList">Recipe Title</p>
		<p class="infoList">ingredients</p>
		<p class="indented">list ingredients here, one ingredient per line</p>
		<p class="infoList">instructions</p>
		<p class="indented">list instructions here, one instruction per line</p>
		<p>After editing and saving your file, click <span>My Account / Import Recipes</span>. Click the <span>Choose File</span> in the import window, then select the file and click <span>okay</span>.</p>

	</div>

</div>
