<!-- ======= output ======= -->
<div id="output">

	<!-- ======= recipe title ======= -->
	<div class="recipeBox1">
		<h2 id="outputTitle">Profile</h2>
	</div>


	<!-- ======= spacer ======= -->
	<div id="recipeBox2">
		<div class="halfBox">
		</div>
		<div class="halfBox">
		</div>
	</div>

	<!-- ======= instructions ======= -->
	<div id="welcomeText" class="middleBox">
		<p>Your profile data</p>
	</div>

</div>
