body {
	font-family: arial, sans-serif;
}

table {
	border-collapse: collapse;
	width: 60%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#clickTest {
	float: left;
	width: 160px;
	height: 90px;
	margin: 0 20px;
	padding: 20px;
	background-color: Plum;

}
