
/* ======= ======= ======= general ======= ======= ======= */
html, body {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
body {
    font-family: "Ariel", sans-serif;
}
div {
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
#wrapper {
    width: 90%;
	min-width: 900px;
    margin: 0 auto;
}

/* ======= ======= ======= sections ======= ======= ======= */
.section {
    margin: 20px;
    padding: 10px;
}
.container {
	width: 720px;
	padding: 10px;
	background-color: #eeeeee;
}
#header {
    width: 100%;
    height: 60px;
    background-color: #eee;
    box-sizing: border-box;
}
#yieldBox {
    width: 100%;
    height: 640px;
	border: solid LightSkyBlue;
    border-width: 2px;
}
#mainTitle {
	padding-top: 10px;
	text-align: center;
    font-size: 18px;
    color: navy;
}

/* ======= ======= ======= menu ======= ======= ======= */
#menuBox1, #menuBox2, #menuBox3 {
	height: 40px;
    margin: 0;
    padding: 8px;
}
#menuBox1 {
	background-color: DodgerBlue;
}
#menuBox2 {
	background-color: DeepSkyBlue;
}
#menuBox3 {
	background-color: LightSkyBlue;
}
#menuBox1 > a, #menuBox2 > a {
    display: inline-block;
    height: 24px;
	margin: 0 4px;
	padding: 0 10px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
	border-radius: 5px;
    color: navy;
}
#menuBox1 > a {
	// width: 14%;
	background-color: #66b3ff;
}
#menuBox1 > a:hover, #menuBox2 > a:hover {
    background-color: mediumslateblue;
    color: white;
}
#menuBox1 > .userBtn {
	width: 8%;
	background-color: #0073e6;
}
#menuBox1 > .mgmtBtn {
	width: 12%;
	background-color: #0073e6;
}
#menuBox1 > .mgmtBtn {
	width: 8%;
	background-color: #0073e6;
}
#menuBox2 > a {
	width: 12%;
	background-color: #00ace6;
}

#search {
	display: inline;
	float: left;
	height: 10px;
	width: 12%;
	margin: 0 10px 10px 10px;
	padding: 5px;
	border-radius: 5px;
}
.menuSelect {
	display: inline;
	width: 12%;
    min-width: 120px;
    height: 24px;
	padding: 0 10px;
    font-size: 16px;
	text-align-last:center;
    line-height: 24px;
	color: DodgerBlue;
	border-radius: 5px;
}
.menuSelect.neutral {
	color: black;
}
#menuSpacer1, #menuSpacer2, #menuSpacer3 {
	display: inline;
	margin: 0 5px 0px 10px;
	padding: 0;
	height: 24px;
	text-align: right;
	color: navy;
}
#menuSpacer1 {
	width: 4%;
}
#menuSpacer2 {
	float: left;
	width: 8%;
}
#menuSpacer3 {
	float: left;
	width: 8%;
}
#feedback, #notice, #message {
    display: inline-block;
	margin: 0 4px;
    // height: 24px;
	padding: 0 10px;
    line-height: 24px;
}
#feedback {
	width: 100%;
}
#notice {
	float: right;
	color: red;
}
.info {
	display: inline-block;
	margin: 20px;
}

/* ======= ======= ======= recipe titles list ======= ======= ======= */
.recipeHeader {
	display: inline-block;
	width: 14%;
	margin: 10px;
	padding-bottom: 2px;
	font-size: 16px;
	border-bottom: 1px solid black;
	color: navy;
}
.recipeHeader:nth-of-type(1) {
	width: 12%;
}
.recipeTitle {
	margin-top: 15px;
    padding: 15px 10px 0 5px;
	font-size: 24px;
	color: mediumslateblue;
}
.ratingType {
	display: inline-block;
	margin: 10px;
	width: 12%;
	font-size: 16px;
	color: navy;
}
.recipeType {
	display: inline-block;
	margin: 10px;
	width: 14%;
	font-size: 16px;
	color: navy;
}

/* ======= ======= ======= show recipe ======= ======= ======= */
#output {
    height: 480px;
	width: 96%;
	margin: 20px;
	border: 1px solid gray;
	white-space: normal;
	overflow-y: scroll;
}
#ingredientsBox {
	float: left;
	width: 48%;
}
#instructionsBox {
	float: left;
	width: 48%;
}
#outputTitle {
	float: left;
	width: 98%;
	height: 40px;
	margin: 0 0 0 1%;
	padding: 1%;
	text-overflow: ellipsis;
}
#editSaveBox {
	float: left;
	width: 98%;
}
.editSelect {
	float: left;
	width: 12%;
    min-width: 120px;
	max-width: 160px;
    height: 24px;
	margin: 10px;
	padding: 0 10px;
    font-size: 16px;
	text-align-last:center;
    line-height: 24px;
	color: DodgerBlue;
	border-radius: 5px;
}
.addEditDelete {
	float: left;
	width: 12%;
    min-width: 140px;
	max-width: 160px;
	margin: 10px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
	border-radius: 5px;
    background-color: #eee;
    color: navy;
}
.addEditDelete.active {
	background-color: orangered;
}
.addEditDelete.active:hover {
    background-color: mediumslateblue;
    color: white;
}
.recipeLabel {
	margin-top: 5px;
    padding: 5px 0 0 5px;
	font-size: 16px;
	color: #0073e6;
}
.ingredient, .instruction {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 80%;
    padding: 5px 15px;
	font-size: 16px;
	color: navy;
}
.editItem {
	margin-left: 9px;
    padding: 4px;
	width: 50%;
	font-size: 16px;
	color: navy;
}
#editTitle {
	height: 40px;
	margin: 0 0 0 1%;
	padding: 1%;
	margin-left: 9px;
	width: 60%;
	font-size: 32px;
	font-style: bold;
	color: navy;
}
.saveBtn, .cancelBtn, .deleteBtn {
	display: inline;
	width: 100px;
    height: 60px;
	margin: 0 10px;
	padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
	border-radius: 3px;
    background-color: DodgerBlue;
    color: white;
}
.sequence {
	display: inline-block;
	width: 18px;
	height: 24px;
	margin-top: 2px;
	margin-left: 10px;
	font-size: 16px;
    line-height: 24px;
	text-align: center;
	background-color: #eee;
}

/* ======= ======= ======= search ======= ======= ======= */
.recipeLink {
	display: inline-block;
	margin: 4px;
}
.recipeLink > a {
	margin: 10px;
	font-size: 16px;
	text-decoration: none;
	color: navy;
}
.recipeLink > a:hover {
    color: orangered;
}
#searchType {
	display: inline;
	width: 18%;
    min-width: 120px;
    height: 24px;
	padding: 0 10px;
    font-size: 16px;
	text-align-last:center;
    line-height: 24px;
	color: white;
	background-color: DodgerBlue;
	border-radius: 5px;
}

/* ======= ======= ======= tables ======= ======= ======= */
table, th, td {
	border: 1px solid white;
}
.AEDtable, .userTable {
	width: 90%;
	border-collapse: collapse;
}
.AEDtable > tbody > tr > td, .userTable > tbody > tr > td {
	padding: 5px;
}
.dataColumn {
	width: 70%;
	min-width: 480px;
}
.btnColumn {
	width: 15%;
}
.btnColumn > a {
	display: inline-block;
    height: 20px;
	padding: 5px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
	border-radius: 2px;
    background-color: Linen;
    color: navy;
}
.btnColumn > a {
	width: 80px;
}
.btnColumn > a {
	width: 120px;
}
.btnColumn > a:hover {
	background-color: mediumslateblue;
    color: white;
}
.btnRow {
	height: 40px;
    margin: 0;
    padding: 8px;
}
.btnRow {
	background-color: LightSkyBlue;
}
.btnRow > td > a {
	display: inline-block;
    height: 24px;
	margin: 0 4px;
	padding: 0 10px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
	border-radius: 5px;
	background-color: #0073e6;
    color: navy;
}

/* ======= ======= ======= mgmt ======= ======= ======= */
#newNationalityBtn {
	float: left;
}
#newNationality {
	display: inline;
	margin-left: 9px;
    padding: 2px;
	width: 30%;
	font-size: 14px;
	color: navy;
}

/* ======= ======= ======= forms ======= ======= ======= */
#formTitle {
	width: 72%;
	height: 60px;
	margin: 0;
	padding: 1%;
	text-overflow: ellipsis;
}
.userInput {
	width: 72%;
	border-collapse: collapse;
}
.userInput > tbody > tr > td {
	padding: 5px;
}
.field {
	width: 100%;
	height: 40px;
    margin: 0;
}
.inputLabel {
	display: inline-block;
	width: 40%;
	height: 100%;
	padding: 10px;
	text-align: right;
}
.inputText {
	display: inline-block;
	width: 40%;
	height: 100%;
	padding: 10px;
}
input[type=text], input[type=password], input[type=checkbox] {
	height: 20px;
}
input[type=checkbox] {
	margin: 0;
	width: 40px;
}
input[type=submit], .field > div > a {
    font-size: 16px;
	text-align: center;
	border-radius: 4px;
    background-color: Linen;
    color: navy;
}
input[type=submit] {
	height: 32px;
	width: 76%;
	padding-top: 5px;
	border: 0px;
}
.field > div > a {
	display: block;
    height: 24px;
	width: 75%;
	padding-top: 8px;
    text-decoration: none;
}
input[type=submit]:hover, .field > div > a:hover {
	background-color: mediumslateblue;
    color: white;
}

/* ======= ======= ======= modal popup ======= ======= ======= */
.popup-overlay {
	display: none;
    position: fixed;
	width: 50%;
	height: 280px;
	margin: 10%;
	padding: 10px;
	background-color: white;
	border: 2px solid #333;
	box-shadow: 5px 5px 6px #333;
    z-index: 1;
}
.popup-content {
	visibility: hidden;
	width: 90%;
	height: 90%;
	background-color: white;
}
.popup-content > p > span {
	color: Crimson;
}
.popup-overlay.active {
	display: block;
}
.popup-content.active {
	visibility: visible;
}
