
/* ======= ======= ======= general ======= ======= ======= */
html, body {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
body {
    font-family: "Ariel", sans-serif;
}
div {
    box-sizing: border-box;
}
h1, h2 {
    margin: 0;
}
#wrapper {
    width: 90%;
	min-width: 900px;
    margin: 0 auto;
}

/* ======= ======= ======= sections ======= ======= ======= */
#header {
    width: 100%;
    height: 60px;
    background-color: #eee;
    box-sizing: border-box;
}
#yieldBox {
    width: 100%;
    height: 640px;
}
#mainTitle {
	padding-top: 10px;
	text-align: center;
    font-size: 18px;
    color: navy;
}

/* ======= ======= ======= menus ======= ======= ======= */
.menuBox1 {
	width: 100%;
	height: 70px;
	margin: 0;
	margin-top: 2px;
	padding: 10px 0;
	padding-right: 10px;
	background-color: #eee;
}
.menuBox2 {
	height: 40px;
	margin: 0;
	margin-top: 2px;
	background-color: #f5f5f5;
}

/* ======= menu groups ======= */
.menuGroup {
	float: left;
	height: 70px;
	margin-top: -10px;
	padding-top: 10px;
}
.menuBox1 > .menuGroup:nth-of-type(2) {
	background-color: #ddd;
}
#searchOwner {
	width: 18%;
}
#searchText {
	width: 25%;
}
#searchClassify {
	width: 57%;
}

/* ======= banner bar ======= */
#banner {
	float: left;
	width: 54%;
	margin: 0;
	padding: 10px 0;
	font-size: 24px;
	text-align: center;
}
#profile {
	float: right;
}

/* ======= search bar ======= */
.userBtn, .searchBtn, .searchLabel, #searchInput {
	float: left;
	position: relative;
	display: inline-block;
	padding: 16px 0;
	margin: 0;
	margin-left: 1%;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border: none;
}
.userBtn {
	width: 20%;
	margin: 0 1%;
	background-color: #4CAF50;
	color: white;
}
.searchBtn {
	width: 42%;
	margin: 0 4%;
	background-color: #4CAF50;
	color: white;
}
#searchInput, #searchInBtn {
	width: 42%;
	margin: 0 2%;
}
#searchInput {
	height: 40px;
	margin-top: 5px;
	margin-left: 6%;
	padding: 0;
	font-style: italic;
}
.userBtn:hover, .searchBtn:hover {
	background-color: navy;
	color: red;
}
.searchLabel {
	margin: 0;
	padding: 0;
	width: 19%;
	margin-top: 8px;
	font-size: 24px;
	text-align: right;
	color: Navy;
}

/* ======= feedback bar ======= */
#message, #notice {
	float: left;
	margin: 10px 2%;
	color: Navy;
}
#message {
	width: 22%;
	text-align: right;
}
#notice {
	width: 70%;
	text-align: left;
	color: Plum;
}

/* ======= title bar ======= */
#outputTitle {
	float: left;
	color: Tomato;
	margin: 5px 20px;
}

/* ======= ======= ======= menu menuList ======= ======= ======= */
.menuList {
	width: 100%;
}
.menuList tr:nth-child(even){
	background-color: #f5f5f5;
}

/* ======= headers ======= */
/*  share, rating, category, nationality, title  */
.menuListHeader {
	height: 40px;
	padding: 5px 10px;
	font-size: 16px;
	font-style: italic;
	text-align: left;
	color: Tomato;
	background-color: #eee;
}
.menuListHeader:nth-of-type(1) {
	width: 5%;
}
.menuListHeader:nth-of-type(2) {
	width: 10%;
}
.menuListHeader:nth-of-type(3) {
	width: 15%;
}
.menuListHeader:nth-of-type(4) {
	width: 10%;
}
.menuListHeader:nth-of-type(5) {
	width: 60%;
}
.menuListItem {
	padding: 5px 10px;
	font-size: 16px;
	text-align: left;
}

/* ======= ======= ======= show recipe ======= ======= ======= */
.recipeBox1 {
	width: 100%;
	height: 70px;
	margin: 0;
	margin-top: 2px;
	padding: 10px 0;
	padding-right: 10px;
	background-color: #eee;
}
#recipeBox2 {
	display: none;
	height: 40px;
	margin: 0;
	margin-top: 2px;
	background-color: #eee;
}
.recipeBox3 {
	height: 40px;
	margin: 2px 0;
	margin-top: 2px;
	background-color: #f5f5f5;
}

/* ======= recipeBox1 ======= */
.editSelect, #deleteRecipe {
	float: left;
    height: 20px;
	padding: 0 10px;
    font-size: 12px;
	text-align-last:center;
    line-height: 20px;
	text-decoration: none;
	color: navy;
	background-color: #eee;
	border-radius: 5px;
}
.editSelect {
	float: left;
	width: 10%;
	min-width: 110px;
	max-width: 160px;
	margin: 1%;
}
#deleteRecipe {
	float: right;
	width: 5%;
	max-width: 100px;
	margin: 1%;
}
#deleteRecipe.active {
	background-color: orangered;
}
#deleteRecipe.active.hover {
    background-color: mediumslateblue;
    color: white;
}

/* ======= recipeBox2 [hidden] ======= */
.addEditDelete {
	width: 10%;
    height: 20px;
	margin-top: 5px;
	padding: 0 10px;
    font-size: 12px;
	text-align-last:center;
    line-height: 20px;
	text-decoration: none;
	color: navy;
	background-color: #eee;
	border-radius: 5px;
}
#saveRecipeEdits {
	float: right;
	margin-right: 10%;
}
#cancelRecipeEdits {
	float: left;
	margin-left: 10%;
}
.addEditDelete.active {
	background-color: Plum;
	color: navy;
}
.addEditDelete.active:hover {
	background-color: navy;
	color: red;
}

/* ======= recipeBox3 ======= */
.halfBox {
	height: 40px;
	margin: 0;
	padding: 4px 0;
	float: left;
	width: 50%;
}
.recipeHeader {
	float: left;
	margin: 1px 20px;
	font-family: "Monaco";
}
#ingrAdd, #instAdd {
	float: left;
    height: 20px;
	width: 20%;
	min-width: 120px;
	margin: 1%;
	margin-left: 20px;
	margin-top: 5px;
	padding: 0 10px;
    font-size: 12px;
	text-align-last:center;
    line-height: 20px;
	text-decoration: none;
	border-radius: 5px;
	background-color: Plum;
	color: navy;
}
#ingrAdd:hover, #instAdd:hover {
	background-color: navy;
	color: red;
}

/* ======= recipeContent ======= */
#recipeContent {
	height: 400px;
	font-size: 10px;
	overflow-y: scroll;
}
#ingredients, #instructions {
	font-family: "Monaco";
}
#instructions {
	border-left: solid 3px DeepSkyBlue;
}

/* ======= ======= ======= show recipe: recipe ======= ======= ======= */
#ingredients, #instructions {
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
}
#instructions {
	border-left: solid DeepSkyBlue;
}
#recipeBox3 > .halfBox:nth-of-type(2) {
	border-left: solid 3px mediumslateblue;
}
.ingredient, .instruction, .newIngredient, .newInstruction {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-left: 30px;
    padding: 5px 15px;
	font-size: 16px;
	color: navy;
}
.newIngredient, .newInstruction {
	width: 96%;
}
.ingredient, .instruction {
	width: 80%;
}
.newRecipeLabel {
	float: left;
	margin: 20px 0 0 20px;
	font-size: 18px;
}
.editItem {
	margin-left: 9px;
    padding: 4px;
	width: 50%;
	font-size: 16px;
	color: navy;
}
#editTitleText {
	float: left;
	width: 20px;
	margin: 0 0 0 20px;
	height: 30px;
	width: 60%;
	font-size: 30px;
	font-style: bold;
	color: navy;
}
#titleSaveBtn, #titleCancelBtn {
	display: inline-block;
	margin: 0 0 0 10px;
	width: 12%;
	background-color: mediumSlateBlue;
    color: white;
}
.ingrSequence, .instSequence {
	float: left;
	display: inline-block;
	width: 18px;
	height: 24px;
	margin-top: 2px;
	margin-left: 10px;
	font-size: 16px;
    line-height: 24px;
	text-align: center;
	background-color: #eee;
}

// /* ======= ======= ======= search ======= ======= ======= */
// .recipeLink {
// 	display: inline-block;
// 	margin: 4px;
// }
// .recipeLink > a {
// 	margin: 10px;
// 	font-size: 16px;
// 	text-decoration: none;
// 	color: navy;
// }
// .recipeLink > a:hover {
//     color: orangered;
// }
// #searchType {
// 	display: inline;
// 	width: 18%;
//     min-width: 120px;
//     height: 24px;
// 	padding: 0 10px;
//     font-size: 16px;
// 	text-align-last:center;
//     line-height: 24px;
// 	color: white;
// 	background-color: DodgerBlue;
// 	border-radius: 5px;
// }






/* ======= ======= ======= line edits ======= ======= ======= */
.editItem {
	float: left;
}
.editItemBox {
	float: left;
	width: 40%;
	height: 120px;
}
#titleSaveBtn, #titleCancelBtn, .saveBtn, .cancelBtn, .deleteBtn {
	// display: inline;
	padding: 5px 10px;
	font-family: "Ariel", sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
	border-radius: 3px;
}
.saveBtn, .cancelBtn, .deleteBtn {
	// float: left;
	width: 30%;
	margin: 6px 20px;
	background-color: Plum;
    color: navy;
}
.saveBtn:hover, .cancelBtn:hover, .deleteBtn:hover {
	background-color: navy;
	color: red;
}

/* ======= ======= ======= modal popup ======= ======= ======= */
.popup-overlay {
	display: none;
    position: fixed;
	width: 50%;
	height: 280px;
	margin: 10%;
	padding: 10px;
	background-color: white;
	border: 2px solid #333;
	box-shadow: 5px 5px 6px #333;
    z-index: 1;
}
.popup-content {
	visibility: hidden;
	width: 90%;
	height: 90%;
	background-color: white;
}
.popup-content > p > span {
	color: Crimson;
}
.popup-overlay.active {
	display: block;
}
.popup-content.active {
	visibility: visible;
}

/* ======= ======= ======= custom styles ======= ======= ======= */
/* ======= dropdown ======= */
.dropdown {
	float: left;
	position: relative;
	display: inline-block;
	margin: 0;
	margin-left: 1%;
}
.dropdown-menu {
	width: 100%;
	padding: 16px 0;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	border: none;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 10px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropdown-menu {
	background-color: navy;
	color: red;
}
.userSelect {
	width: 20%;
}
.searchSelect {
	width: 22%;
	margin-left: 4%;
}

/* ======= checkbox ======= */
.shareItem input[type=checkbox] {
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	transform: scale(1.5);
	padding: 10px;
	margin-left: 36%;
}

//
// /* ======= ======= ======= tables ======= ======= ======= */
// table, th, td {
// 	border: 1px solid white;
// }
// .AEDtable, .userTable {
// 	width: 90%;
// 	border-collapse: collapse;
// }
// .AEDtable > tbody > tr > td, .userTable > tbody > tr > td {
// 	padding: 5px;
// }
// .dataColumn {
// 	width: 70%;
// 	min-width: 480px;
// }
// .btnColumn {
// 	width: 15%;
// }
// .btnColumn > a {
// 	display: inline-block;
//     height: 20px;
// 	padding: 5px;
//     text-align: center;
//     font-size: 16px;
//     text-decoration: none;
// 	border-radius: 2px;
//     background-color: Linen;
//     color: navy;
// }
// .btnColumn > a {
// 	width: 80px;
// }
// .btnColumn > a {
// 	width: 120px;
// }
// .btnColumn > a:hover {
// 	background-color: mediumslateblue;
//     color: white;
// }
// .btnRow {
// 	height: 40px;
//     margin: 0;
//     padding: 8px;
// }
// .btnRow {
// 	background-color: LightSkyBlue;
// }
// .btnRow > td > a {
// 	display: inline-block;
//     height: 24px;
// 	margin: 0 4px;
// 	padding: 0 10px;
//     text-align: center;
//     font-size: 16px;
//     line-height: 24px;
//     text-decoration: none;
// 	border-radius: 5px;
// 	background-color: #0073e6;
//     color: navy;
// }
//
// /* ======= ======= ======= mgmt ======= ======= ======= */
// #newNationalityBtn {
// 	float: left;
// }
// #newNationality {
// 	display: inline;
// 	margin-left: 9px;
//     padding: 2px;
// 	width: 30%;
// 	font-size: 14px;
// 	color: navy;
// }
//
// /* ======= ======= ======= forms ======= ======= ======= */
// #formTitle {
// 	width: 72%;
// 	height: 60px;
// 	margin: 0;
// 	padding: 1%;
// 	text-overflow: ellipsis;
// }
// .userInput {
// 	width: 72%;
// 	border-collapse: collapse;
// }
// .userInput > tbody > tr > td {
// 	padding: 5px;
// }
// .field {
// 	width: 100%;
// 	height: 40px;
//     margin: 0;
// }
// .inputLabel {
// 	display: inline-block;
// 	width: 40%;
// 	height: 100%;
// 	padding: 10px;
// 	text-align: right;
// }
// .inputText {
// 	display: inline-block;
// 	width: 40%;
// 	height: 100%;
// 	padding: 10px;
// }
// input[type=text], input[type=password], input[type=checkbox] {
// 	height: 20px;
// }
// input[type=checkbox] {
// 	margin: 0;
// 	width: 40px;
// }
// input[type=submit], .field > div > a {
//     font-size: 16px;
// 	text-align: center;
// 	border-radius: 4px;
//     background-color: Linen;
//     color: navy;
// }
// input[type=submit] {
// 	height: 32px;
// 	width: 76%;
// 	padding-top: 5px;
// 	border: 0px;
// }
// .field > div > a {
// 	display: block;
//     height: 24px;
// 	width: 75%;
// 	padding-top: 8px;
//     text-decoration: none;
// }
// input[type=submit]:hover, .field > div > a:hover {
// 	background-color: mediumslateblue;
//     color: white;
// }
//
/* ======= ======= ======= import ======= ======= ======= */
#inputfile {
	margin: 0 20px;
}
