<%= render 'form', category: @category %>

<!-- ======= buttons ======= -->
<div class="dataRow">
	<div class="formLabel">&nbsp;</div>
	<div class="formValue">
		<%= link_to "Back", categories_path, id: "backBtn", class: "formButton" %>
	</div>
</div>
