<div id="recipeBox1" class="fullBox">
	<h2 id="outputTitle">Editing Nationality</h2>
</div>

<%= render 'form', nationality: @nationality %>

<%= link_to 'Show', @nationality %> |
<%= link_to 'Back', nationalities_path %>
